.aboutme-container {
  max-width: 1300px;
  margin: auto;
}

.aboutme-photo,
.aboutme-discription {
  border: solid;
  border-top: 0;
  border-right: 0;
  border-radius: 5px;
  border-width: 1px;
}

.aboutme-photo {
  box-shadow: var(--bs);
  text-align: center;
  width: 448px;
  margin: auto;
  display: block;
  margin-top: 30px;
  margin-right: 740px;
  border-color: var(--clr-secondary);
}

.aboutme-introduction {
  font-weight: var(--fw-med);
  font-size: var(--fs-h1);
  color: var(--clr-dark);
  margin-top: -450px;
  white-space: pre-wrap;
  margin-left: 580px;
}

.aboutme-discription {
  font-size: var(--fs-h3);
  font-weight: var(--fw-med);
  color: var(--clr-dark);
  background: var(--clr-secondary);
  padding: 0.25em 1em;
  margin-bottom: 1em;
  display: inline-block;
  max-width: 46em;
  margin-top: 20px;
  margin-left: 60px;
  position: absolute;
  padding-left: 34%;
  z-index: -1;
  border-color: var(--clr-dark);
}

.aboutme-links {
  list-style-type: none;
  margin-left: 540px;
  margin-top: 230px;
}

.aboutme-link {
  display: inline-block;
  padding-right: 1em;
  font-size: 30px;
  color: var(--clr-dark);
}

.title:hover {
  color: var(--clr-secondary);
  cursor: pointer;
}

.aboutme-photo:hover,
.aboutme-link:hover {
  transform: scale(1.05);
  transition: all 200ms ease-in;
  color: var(--clr-secondary);
}

.ityped-cursor {
  animation: blink 2s infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.title,
.im {
  font-size: var(--fs-h2);
}

/*Media queries for discription padding*/
@media screen and (max-width: 2220px) {
  .aboutme-discription {
    padding-left: 22%;
  }
}

@media screen and (max-width: 2190px) {
  .aboutme-discription {
    padding-left: 22.5%;
  }
}

@media screen and (max-width: 2160px) {
  .aboutme-discription {
    padding-left: 23%;
  }
}

@media screen and (max-width: 2130px) {
  .aboutme-discription {
    padding-left: 23.5%;
  }
}

@media screen and (max-width: 2100px) {
  .aboutme-discription {
    padding-left: 24%;
  }
}

@media screen and (max-width: 2070px) {
  .aboutme-discription {
    padding-left: 24.5%;
  }
}

@media screen and (max-width: 2040px) {
  .aboutme-discription {
    padding-left: 25%;
  }
}

@media screen and (max-width: 2010px) {
  .aboutme-discription {
    padding-left: 25.5%;
  }
}

@media screen and (max-width: 1980px) {
  .aboutme-discription {
    padding-left: 26%;
  }
}

@media screen and (max-width: 1950px) {
  .aboutme-discription {
    padding-left: 26.5%;
  }
}

@media screen and (max-width: 1920px) {
  .aboutme-discription {
    padding-left: 27%;
  }
}

@media screen and (max-width: 1890px) {
  .aboutme-discription {
    padding-left: 27.5%;
  }
}

@media screen and (max-width: 1860px) {
  .aboutme-discription {
    padding-left: 28%;
  }
}

@media screen and (max-width: 1830px) {
  .aboutme-discription {
    padding-left: 28.5%;
  }
}

@media screen and (max-width: 1800px) {
  .aboutme-discription {
    padding-left: 29%;
  }
}

@media screen and (max-width: 1770px) {
  .aboutme-discription {
    padding-left: 29.5%;
  }
}

@media screen and (max-width: 1740px) {
  .aboutme-discription {
    padding-left: 30%;
  }
}

@media screen and (max-width: 1710px) {
  .aboutme-discription {
    padding-left: 30.5%;
  }
}

@media screen and (max-width: 1680px) {
  .aboutme-discription {
    padding-left: 31%;
  }
}

@media screen and (max-width: 1650px) {
  .aboutme-discription {
    padding-left: 31.5%;
  }
}

@media screen and (max-width: 1620px) {
  .aboutme-discription {
    padding-left: 32%;
  }
}

@media screen and (max-width: 1600px) {
  .aboutme-discription {
    padding-left: 32.5%;
  }
}

@media screen and (max-width: 1580px) {
  .aboutme-discription {
    padding-left: 33%;
  }
}

@media screen and (max-width: 1560px) {
  .aboutme-discription {
    padding-left: 33.5%;
  }
}

@media screen and (max-width: 1540px) {
  .aboutme-discription {
    padding-left: 34%;
  }
}

@media screen and (max-width: 1520px) {
  .aboutme-discription {
    padding-left: 34.5%;
  }
}

@media screen and (max-width: 1500px) {
  .aboutme-discription {
    padding-left: 35%;
  }
}

@media screen and (max-width: 1480px) {
  .aboutme-discription {
    padding-left: 35.5%;
  }
}

@media screen and (max-width: 1460px) {
  .aboutme-discription {
    padding-left: 36%;
  }
}

@media screen and (max-width: 1440px) {
  .aboutme-discription {
    padding-left: 36.5%;
  }
}

@media screen and (max-width: 1420px) {
  .aboutme-discription {
    padding-left: 37%;
  }
}

@media screen and (max-width: 1400px) {
  .aboutme-discription {
    padding-left: 37.5%;
  }
}

@media screen and (max-width: 1380px) {
  .aboutme-discription {
    padding-left: 38%;
  }
}

@media screen and (max-width: 1360px) {
  .aboutme-discription {
    padding-left: 38.5%;
  }
}

@media screen and (max-width: 1340px) {
  .aboutme-discription {
    padding-left: 39%;
  }
}

/*Below this, the photo is also adjusted*/

@media screen and (max-width: 1320px) {
  .aboutme-discription {
    padding-left: 39.5%;
  }
  .aboutme-photo {
    margin-right: 730px;
  }
}

@media screen and (max-width: 1300px) {
  .aboutme-discription {
    padding-left: 40%;
  }
  .aboutme-photo {
    margin-right: 720px;
  }
}

@media screen and (max-width: 1280px) {
  .aboutme-discription {
    padding-left: 40.5%;
  }
  .aboutme-photo {
    margin-right: 700px;
  }
}

@media screen and (max-width: 1260px) {
  .aboutme-discription {
    padding-left: 41%;
  }
  .aboutme-photo {
    margin-right: 680px;
  }
}

@media screen and (max-width: 1240px) {
  .aboutme-discription {
    padding-left: 41.5%;
  }
  .aboutme-photo {
    margin-right: 660px;
  }
}

@media screen and (max-width: 1220px) {
  .aboutme-discription {
    padding-left: 42%;
  }
  .aboutme-photo {
    margin-right: 640px;
  }
}

@media screen and (max-width: 1200px) {
  .aboutme-discription {
    padding-left: 42.5%;
  }
  .aboutme-photo {
    margin-right: 620px;
  }
}

@media screen and (max-width: 1180px) {
  .aboutme-discription {
    padding-left: 43%;
  }
  .aboutme-photo {
    margin-right: 600px;
  }
}

@media screen and (max-width: 1170px) {
  .aboutme-photo {
    margin-right: 620px;
  }
  .aboutme-container {
    margin-left: -20px;
  }
  .aboutme-introduction {
    margin-left: 570px;
  }
}

@media screen and (max-width: 1160px) {
  .aboutme-photo {
    margin-right: 640px;
  }
  .aboutme-container {
    margin-left: -40px;
  }
  .aboutme-introduction {
    margin-left: 560px;
  }
  .aboutme-discription {
    padding-left: 43.5%;
  }
}

@media screen and (max-width: 1150px) {
  .aboutme-photo {
    margin-right: 640px;
  }
  .aboutme-container {
    margin-left: -50px;
  }
  .aboutme-introduction {
    margin-left: 550px;
  }
}

@media screen and (max-width: 1130px) {
  .aboutme-photo {
    margin-right: 620px;
  }
  .aboutme-container {
    margin-left: -50px;
  }
  .aboutme-introduction {
    margin-left: 560px;
  }
  .aboutme-discription {
    padding-left: 44%;
  }
}

@media screen and (max-width: 1110px) {
  .aboutme-photo {
    margin-right: 630px;
  }
  .aboutme-container {
    margin-left: -60px;
  }
  .aboutme-introduction {
    margin-left: 540px;
  }
}

@media screen and (max-width: 1100px) {
  .aboutme-photo {
    margin-right: 600px;
  }
  .aboutme-container {
    margin-left: -50px;
  }
  .aboutme-introduction {
    margin-left: 535px;
  }
  .aboutme-discription {
    padding-left: 44.5%;
  }
}

/*Layout Switch*/

@media screen and (max-width: 1090px) {
  .aboutme-photo {
    margin: auto;
    margin-top: 160px;
  }
  .aboutme-introduction {
    margin-left: 310px;
    margin-top: -640px;
  }
  .aboutme-discription {
    margin-top: 460px;
    margin-left: 290px;
    max-width: 24em;
    padding-left: 2%;
    padding-right: 2%;
  }
  .aboutme-links {
    margin-top: 600px;
  }
}

/*Below this, the introduction and discription are adjusted*/

@media screen and (max-width: 1080px) {
  .aboutme-introduction {
    margin-left: 305px;
  }
  .aboutme-discription {
    margin-left: 285px;
  }
}

@media screen and (max-width: 1070px) {
  .aboutme-introduction {
    margin-left: 300px;
  }
  .aboutme-discription {
    margin-left: 280px;
  }
}

@media screen and (max-width: 1060px) {
  .aboutme-introduction {
    margin-left: 295px;
  }
  .aboutme-discription {
    margin-left: 275px;
  }
}
@media screen and (max-width: 1050px) {
  .aboutme-introduction {
    margin-left: 290px;
  }
  .aboutme-discription {
    margin-left: 270px;
  }
}
@media screen and (max-width: 1040px) {
  .aboutme-introduction {
    margin-left: 285px;
  }
  .aboutme-discription {
    margin-left: 265px;
  }
}
@media screen and (max-width: 1030px) {
  .aboutme-introduction {
    margin-left: 280px;
  }
  .aboutme-discription {
    margin-left: 260px;
  }
}
@media screen and (max-width: 1020px) {
  .aboutme-introduction {
    margin-left: 275px;
  }
  .aboutme-discription {
    margin-left: 255px;
  }
}

@media screen and (max-width: 1010px) {
  .aboutme-introduction {
    margin-left: 270px;
  }
  .aboutme-discription {
    margin-left: 250px;
  }
}

@media screen and (max-width: 1000px) {
  .aboutme-introduction {
    margin-left: 265px;
  }
  .aboutme-discription {
    margin-left: 245px;
  }
}

@media screen and (max-width: 990px) {
  .aboutme-introduction {
    margin-left: 260px;
  }
  .aboutme-discription {
    margin-left: 240px;
  }
}

@media screen and (max-width: 980px) {
  .aboutme-introduction {
    margin-left: 255px;
  }
  .aboutme-discription {
    margin-left: 235px;
  }
}

@media screen and (max-width: 970px) {
  .aboutme-introduction {
    margin-left: 250px;
  }
  .aboutme-discription {
    margin-left: 230px;
  }
}

@media screen and (max-width: 960px) {
  .aboutme-introduction {
    margin-left: 245px;
  }
  .aboutme-discription {
    margin-left: 225px;
  }
}

@media screen and (max-width: 950px) {
  .aboutme-introduction {
    margin-left: 240px;
  }
  .aboutme-discription {
    margin-left: 220px;
  }
}

@media screen and (max-width: 940px) {
  .aboutme-introduction {
    margin-left: 235px;
  }
  .aboutme-discription {
    margin-left: 215px;
  }
}

@media screen and (max-width: 930px) {
  .aboutme-introduction {
    margin-left: 230px;
  }
  .aboutme-discription {
    margin-left: 210px;
  }
}

@media screen and (max-width: 920px) {
  .aboutme-introduction {
    margin-left: 225px;
  }
  .aboutme-discription {
    margin-left: 205px;
  }
}

@media screen and (max-width: 910px) {
  .aboutme-introduction {
    margin-left: 220px;
  }
  .aboutme-discription {
    margin-left: 200px;
  }
}

@media screen and (max-width: 900px) {
  .aboutme-introduction {
    margin-left: 215px;
  }
  .aboutme-discription {
    margin-left: 195px;
  }
}

@media screen and (max-width: 890px) {
  .aboutme-introduction {
    margin-left: 210px;
  }
  .aboutme-discription {
    margin-left: 190px;
  }
}

@media screen and (max-width: 880px) {
  .aboutme-introduction {
    margin-left: 205px;
  }
  .aboutme-discription {
    margin-left: 185px;
  }
}

@media screen and (max-width: 870px) {
  .aboutme-introduction {
    margin-left: 200px;
  }
  .aboutme-discription {
    margin-left: 180px;
  }
}

@media screen and (max-width: 860px) {
  .aboutme-introduction {
    margin-left: 195px;
  }
  .aboutme-discription {
    margin-left: 175px;
  }
}

@media screen and (max-width: 850px) {
  .aboutme-introduction {
    margin-left: 190px;
  }
  .aboutme-discription {
    margin-left: 170px;
  }
}

/*Smallest Layout*/

@media screen and (max-width: 840px) {
  .aboutme-introduction {
    /*margin-left: 210px;*/
    margin-left: 25%;
    font-size: var(--fs-h2);
    margin-top: -560px;
  }
  .title,
  .im {
    font-size: var(--fs-h2-v2);
  }

  .aboutme-photo {
    width: 380px;
    margin-left: 30%;
  }

  .aboutme-discription {
    margin-left: 26%;
    margin-top: 410px;
    font-size: var(--fs-h4);
  }

  .aboutme-links {
    margin-top: 530px;
    margin-left: 40%;
  }

  .aboutme-link {
    font-size: 25px;
  }
}

@media screen and (max-width: 680px) {
  .aboutme-photo {
    margin-left: 25%;
  }
  .aboutme-introduction {
    margin-left: 20%;
  }
  .aboutme-discription {
    margin-left: 20%;
  }
}

@media screen and (max-width: 570px) {
  .aboutme-photo {
    margin-left: 20%;
  }
  .aboutme-introduction {
    margin-left: 14%;
  }
  .aboutme-discription {
    margin-left: 10%;
  }
}
