.aboutme-container {
  max-width: 1300px;
  margin: auto;
}

.aboutme-photo,
.aboutme-discription {
  border: solid;
  border-top: 0;
  border-right: 0;
  border-radius: 5px;
  border-width: 1px;
}

.aboutme-photo {
  box-shadow: var(--bs);
  text-align: center;
  width: 448px;
  margin: auto;
  display: block;
  margin-top: 30px;
  margin-right: 740px;
  border-color: var(--clr-secondary);
}

.aboutme-introduction {
  font-weight: var(--fw-med);
  font-size: var(--fs-h1);
  color: var(--clr-dark);
  margin-top: -450px;
  white-space: pre-wrap;
  margin-left: 580px;
}

.aboutme-discription {
  font-size: var(--fs-h3);
  font-weight: var(--fw-med);
  color: var(--clr-dark);
  background: var(--clr-secondary);
  padding: 0.25em 1em;
  margin-bottom: 1em;
  display: inline-block;
  max-width: 46em;
  margin-top: 20px;
  margin-left: 60px;
  position: absolute;
  padding-left: 34%;
  z-index: -1;
  border-color: var(--clr-dark);
}

.aboutme-links {
  list-style-type: none;
  margin-left: 540px;
  margin-top: 230px;
}

.aboutme-link {
  display: inline-block;
  padding-right: 1em;
  font-size: 30px;
  color: var(--clr-dark);
}

.title:hover {
  color: var(--clr-secondary);
  cursor: pointer;
}

.aboutme-photo:hover,
.aboutme-link:hover {
  transform: scale(1.05);
  transition: all 200ms ease-in;
  color: var(--clr-secondary);
}

.ityped-cursor {
  animation: blink 2s infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.title,
.im {
  font-size: var(--fs-h2);
}

/*Media queries for discription padding*/
@media screen and (max-width: 1520px) {
  .aboutme-discription {
    padding-left: 34.5%;
  }
}

@media screen and (max-width: 1500px) {
  .aboutme-discription {
    padding-left: 35%;
  }
}

@media screen and (max-width: 1480px) {
  .aboutme-discription {
    padding-left: 35.5%;
  }
}

@media screen and (max-width: 1460px) {
  .aboutme-discription {
    padding-left: 36%;
  }
}

@media screen and (max-width: 1440px) {
  .aboutme-discription {
    padding-left: 36.5%;
  }
}

@media screen and (max-width: 1420px) {
  .aboutme-discription {
    padding-left: 37%;
  }
}

@media screen and (max-width: 1400px) {
  .aboutme-discription {
    padding-left: 37.5%;
  }
}

@media screen and (max-width: 1380px) {
  .aboutme-discription {
    padding-left: 38%;
  }
}

@media screen and (max-width: 1360px) {
  .aboutme-discription {
    padding-left: 38.5%;
  }
}

@media screen and (max-width: 1340px) {
  .aboutme-discription {
    padding-left: 39%;
  }
}

/****************/
@media screen and (max-width: 1320px) {
  .aboutme-discription {
    padding-left: 39.5%;
  }
  .aboutme-photo {
    margin-right: 730px;
  }
}

@media screen and (max-width: 1300px) {
  .aboutme-discription {
    padding-left: 40%;
  }
  .aboutme-photo {
    margin-right: 720px;
  }
}

@media screen and (max-width: 1280px) {
  .aboutme-discription {
    padding-left: 40.5%;
  }
  .aboutme-photo {
    margin-right: 700px;
  }
}

@media screen and (max-width: 1260px) {
  .aboutme-discription {
    padding-left: 41%;
  }
  .aboutme-photo {
    margin-right: 680px;
  }
}

@media screen and (max-width: 1240px) {
  .aboutme-discription {
    padding-left: 41.5%;
  }
  .aboutme-photo {
    margin-right: 660px;
  }
}

@media screen and (max-width: 1220px) {
  .aboutme-discription {
    padding-left: 42%;
  }
  .aboutme-photo {
    margin-right: 640px;
  }
}

@media screen and (max-width: 1200px) {
  .aboutme-discription {
    padding-left: 42.5%;
  }
  .aboutme-photo {
    margin-right: 620px;
  }
}

@media screen and (max-width: 1180px) {
  .aboutme-discription {
    padding-left: 43%;
  }
  .aboutme-photo {
    margin-right: 600px;
  }
}

@media screen and (max-width: 1170px) {
  .aboutme-photo {
    margin-right: 620px;
  }
  .aboutme-container {
    margin-left: -20px;
  }
  .aboutme-introduction {
    margin-left: 570px;
  }
}

@media screen and (max-width: 1160px) {
  .aboutme-photo {
    margin-right: 640px;
  }
  .aboutme-container {
    margin-left: -40px;
  }
  .aboutme-introduction {
    margin-left: 560px;
  }
  .aboutme-discription {
    padding-left: 43.5%;
  }
}

@media screen and (max-width: 1150px) {
  .aboutme-photo {
    margin-right: 640px;
  }
  .aboutme-container {
    margin-left: -50px;
  }
  .aboutme-introduction {
    margin-left: 550px;
  }
}

@media screen and (max-width: 1130px) {
  .aboutme-photo {
    margin-right: 620px;
  }
  .aboutme-container {
    margin-left: -50px;
  }
  .aboutme-introduction {
    margin-left: 560px;
  }
  .aboutme-discription {
    padding-left: 44%;
  }
}

@media screen and (max-width: 1110px) {
  .aboutme-photo {
    margin-right: 630px;
  }
  .aboutme-container {
    margin-left: -60px;
  }
  .aboutme-introduction {
    margin-left: 540px;
  }
}

@media screen and (max-width: 1100px) {
  .aboutme-photo {
    margin-right: 600px;
  }
  .aboutme-container {
    margin-left: -50px;
  }
  .aboutme-introduction {
    margin-left: 535px;
  }
  .aboutme-discription {
    padding-left: 44.5%;
  }
}

@media screen and (max-width: 1090px) {
}
