* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;

  /*Font Weight*/
  --fw-reg: 200;
  --fw-med: 500;
  --fw-bold: 900;

  /*Font Colour*/
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-secondary: #3ae5ff;

  /*Font Sizes*/
  --fs-h1: 3.5rem;
  --fs-h2: 3rem;
  --fs-h2-v2: 2.3rem;
  --fs-h3: 1.4rem;
  --fs-h4: 1.25rem;
  --fs-h5: 1rem;
  --fs-h6: 0.7rem;

  /*Box Shadow*/
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
